.tree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
	white-space: nowrap;
}
.tree img {
	border: 0px;
	height: 18px;
	vertical-align: text-bottom;
}
.tree a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.tree a:hover {
	color: #345373;
}

aside {
	background: #f7f7f7;
	padding: 3px;
	width: 26%;
	float: left;
	height: 95%;
	overflow: auto;
}

iframe {
	width: 73%;
	height: 95%;
}

a.ref {
	text-decoration: none;
	font-family: Arial;
}
