body { background: #ffffff; color: #000000; font-family: verdana, arial, helvetica, sans-serif; font-size: 75% }

div { padding: 0px 0px 0px 26px; background: #ffffff; color: #000000; font-family: verdana, arial, helvetica, sans-serif }

div.footer { text-align: center; padding: 0px 0px 0px 0px; margin: 1em 0px 0px 0px; background: #ffffff; color: #0052B0; font-family: verdana, arial, helvetica, sans-serif; font-size: 80%; font-weight: bold }

h1, h2, h3, h4 { padding: 0.1em 0px 0.1em 5px; margin-left: -26px; font-family: verdana, arial, helvetica, sans-serif }

h1 { font-size: 130%; margin-top: .5em; margin-bottom: .5em; background: #C7E1FF }

h2 { font-size: 120%; margin-top: 1em; margin-bottom: .2em }

h3 { font-size: 115%; margin-top: 1em; margin-bottom: .2em }

h4 { font-size: 100%; margin-top: 1em; margin-bottom: .1em }

ul, ol { margin-top: .6em; margin-bottom: 0em }

ol { margin-left: 3.6em }

ul { margin-left: 1.9em; list-style-type: disc }

li { margin-bottom: .6em; text-align: justify }

ul ol, ol ol { list-style-type: lower-alpha }

ul dl, ol dl { margin-top: .3em; margin-bottom: 0em }

dt { margin-bottom: .2em; text-align: justify }

dl.syntax { margin-top: 0em; text-align: justify }

dd.syntax { margin-bottom: 0em;  margin-left: 1.9em; text-align: justify }

dt.syntax { margin-top: .6em; text-align: justify }

p { margin-top: .6em; margin-bottom: .6em; text-align: justify }

p.samples { margin-top: .6em; margin-bottom: .6em; color: #660000; font-family: "courier new", "courier", "fixedsys", monospace; font-size: 80%; text-align: left }

p.remarks { margin-top: .1em; margin-bottom: .1em; font-size: 90%; text-align: justify }

pre { padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; font-weight: bold; color: #000000; font-family: "courier new", "courier", "fixedsys", monospace }

pre.samples { margin-top: .1em; margin-bottom: .1em; font-weight: normal; color: #660000; font-family: "courier new", "courier", "fixedsys", monospace; font-size: 100% }

pre.syntax { padding: .2em .5em .2em .5em; margin-top: .6em; margin-bottom: .6em; font-weight: bold; background: #e5e5e5; color: #000000; font-family: "courier new", "courier", "fixedsys", monospace; font-size: 110% }

td { font-size: 80%; text-align: center }

td.syntax { padding: .2em .5em .2em .5em; font-weight: bold; font-size: 80%; text-align: justify; background: #e5e5e5; color: #000000; font-family: "courier new", "courier", "fixedsys", monospace }

table.visible { width: 90%; background: #777777 }

th { padding: 2px 8px; background: #dddddd; text-align: center; font-size: 75%; vertical-align: middle; }

td.visible { padding: 4px 8px; background: #ffffff; vertical-align: top; font-size: 75%; text-align: center }

table.navigation { padding: 0px 0px 0px 0px; background: #FFFFFF; margin: 0px 0px 0px 0px }

tr.navigation{ padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px }

img.navigation { border-color: #C7E1FF; border-width: 2px; padding: 0px 0px 0px 0px; margin: -1px -1px -1px 0px }

font.syntax { font-weight: bold; color: #000000; font-family: "courier new", "courier", "fixedsys", monospace; font-size: 110% }

font.navigation { font-weight: bold; color: #230170; font-family: verdana, arial, helvetica, sans-serif; font-size: 100% }

a { font-family: verdana, arial, helvetica, sans-serif }

a:link { color: #0052B0; text-decoration: underline; font-weight: bold }

a:visited { color: #968055; text-decoration: underline; font-weight: bold }

a:active { color: #CC9900F; text-decoration: underline; font-weight: bold }

a:hover { color: #CC9900; text-decoration: underline; font-weight: bold }

a.syntax { font-family: "courier new", "courier", "fixedsys", monospace }

a.syntax:link { color: #0052B0; text-decoration: none; font-weight: bold }

a.syntax:visited { color: #0052B0; text-decoration: none }

a.syntax:active { color: #CC9900; text-decoration: none }

a.syntax:hover { color: #CC9900; text-decoration: none }

a.reserved { font-family: "courier new", "courier", "fixedsys", monospace }

a.reserved:link { color: #0052B0; text-decoration: none; font-weight: bold }

a.reserved:visited { color: #0052B0; text-decoration: none }

a.reserved:active { color: #0052B0; text-decoration: none }

a.reserved:hover { color: #0052B0; text-decoration: none }