#include "Program_report_consts.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

STRINGTABLE
{
  sProgramTitle,                "Производственная программа на %s"
  sAssert,                      "Утверждаю"
  sCompanyDirector,             "Генеральный директор"
  sLastChangeDate,              "Дата последнего изменения: "
  sGroupBy,                     "Группировка по %s"
  sGroupByName,                 "наименованию изделия"
  sGroupByTechMap,              "номеру тех. карты"
  sGroupByCustomer,             "заказчику"
  sTechMapNo,                   "№ тех. карты"
  sDetName,                     "Наименование"
  sPressForm,                   "Прессформа"
  sToProduce,                   "В пр-во, шт"
  sRubberSort,                  "Марка резины"
  sDetWeight,                   "Вес дет., г"
  sZagWeight,                   "Вес заг., г"
  sRubberQuantity,              "Кол-во резины, кг"
  sWulkanTime,                  "Твулк., мин"
  sLoadTime,                    "Тзаг., мин"
  sWulkan,                      "Вулканизация"
  sTimeNorma,                   "Норма вр., мин"
  sCost,                        "Расценка, руб"
  sCut,                         "Обрезка"
  sWulkanProg,                  "Прогр. на вулк."
  sProgTime,                    "Тна прогр., н/ч"
  sSalary,                      "З/плата, руб"
  sCutProg,                     "Прогр. на обрезку"
  sEdPrice,                     "Цена за 1шт., руб"
  sPrice,                       "Стоимость, руб"
  sCompanyEngineer,             "Гл. инженер"
  sCompanyDepartmentChief,      "Нач. участка"
  sCompanyCommercialChief,      "Нач. коммерч. отдела"
  sCompanyTechnologist,         "Технолог"
  sCompanyProductionChief,      "Нач. производства"
  sCompanyEconomist,            "Экономист"
  sForeman,                     "Мастер"
  sGramm,                       " - %.2f г."
  sGroupPrice,                  "      (%s руб.)"
  sGroupAmount,                 "      (%s шт.)"
  sAdditionTitle                "Дополнение к плану %s"
  sAdditionDateFormat           "dd.mm.yyyy"
  sProgSum                      "Итого на программу:"
}
