#include "res_const.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

PAT_MODEL RCDATA
{
"// Инициализация трех параметров\r\n"
"// В общем-то можно было сделать и через RSS\r\n"
"$Pattern Начало_создание_пустого_поля : rule\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_: Системная_плата Keep\r\n"
"	Счетчик_X_      : Счетчик_X       Keep\r\n"
"	Счетчик_Y_      : Счетчик_Y       Keep\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	Choice from Системная_плата_.Состояние = Поля_нет\r\n"
"	Convert_rule\r\n"
"		Состояние set Создание_поля\r\n"
"\r\n"
"Счетчик_X_\r\n"
"	Convert_rule\r\n"
"		Значение           set 0\r\n"
"		Граничное_значение set Кол_во_точек_по_X\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"	Convert_rule\r\n"
"		Значение           set 1\r\n"
"		Граничное_значение set Кол_во_точек_по_Y\r\n"
"$End\r\n"
"\r\n"
"// Заполняем поле точками по строкам\r\n"
"// Это паттерн создает только одну точку, но запускаясь много раз, он создаст\r\n"
"// целую строку. Потом паттерн Перевод_строки сбросит счетчик позиции (Счетчик_X)\r\n"
"// в самое начало и Создание_строки создаст еще одну строку и т.д.\r\n"
"$Pattern Создание_строки : rule\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_: Системная_плата NoChange\r\n"
"	Счетчик_X_      : Счетчик_X       Keep\r\n"
"	Точка_          : Точки           Create\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	Choice from Системная_плата_.Состояние = Создание_поля\r\n"
"\r\n"
"Счетчик_X_\r\n"
"	// Запускать пока не достигли конца строки\r\n"
"	Choice from Счетчик_X_.Значение < Счетчик_X_.Граничное_значение\r\n"
"	Convert_rule\r\n"
"		Значение set Счетчик_X_.Значение + 1\r\n"
"\r\n"
"Точка_\r\n"
"	Convert_rule\r\n"
"		Координата_X set Счетчик_X_.Значение\r\n"
"		Координата_Y set Счетчик_Y.Значение\r\n"
"		Провод       set 0\r\n"
"$End\r\n"
"\r\n"
"// Перевод строки\r\n"
"$Pattern Перевод_строки : rule\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_: Системная_плата NoChange\r\n"
"	Счетчик_X_      : Счетчик_X       Keep\r\n"
"	Счетчик_Y_      : Счетчик_Y       Keep\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	Choice from Системная_плата_.Состояние = Создание_поля\r\n"
"\r\n"
"Счетчик_X_\r\n"
"	// Сброс счетчика позиции в начало\r\n"
"	Choice from Счетчик_X_.Значение = Счетчик_X_.Граничное_значение\r\n"
"	Convert_rule\r\n"
"		Значение set 0\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"	// Увеличение счетчика строк\r\n"
"	Choice from Счетчик_Y_.Значение < Счетчик_Y_.Граничное_значение\r\n"
"	Convert_rule\r\n"
"		Значение set Счетчик_Y_.Значение + 1\r\n"
"$End\r\n"
"\r\n"
"// Если оба счетчика достигли конца, то остановить создание поля.\r\n"
"// Паттерны Создание_строки, Перевод_строки и Конец_создания_поля\r\n"
"// описывают цикл на РДО. Синтаксис не очень удобен, зато заставляет думать.\r\n"
"$Pattern Конец_создания_поля : rule\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_: Системная_плата Keep\r\n"
"	Счетчик_X_      : Счетчик_X       NoChange\r\n"
"	Счетчик_Y_      : Счетчик_Y       NoChange\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	Choice from Системная_плата_.Состояние = Создание_поля\r\n"
"	Convert_rule\r\n"
"		Состояние set Поле_создано\r\n"
"\r\n"
"Счетчик_X_\r\n"
"	Choice from Счетчик_X_.Значение = Счетчик_X_.Граничное_значение\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"	Choice from Счетчик_Y_.Значение >= Счетчик_Y_.Граничное_значение\r\n"
"$End\r\n"
"\r\n"
"// Нанесение точек проводов (начальной и конечной) на плату\r\n"
"// Запускается для каждого провода отдельно\r\n"
"$Pattern Нанесение_существующих_точек : rule trace\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_: Системная_плата NoChange\r\n"
"	Провод_         : Провод          Keep\r\n"
"	Точка_1_начало_ : Точки           Keep\r\n"
"	Точка_2_конец_  : Точки           Keep\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	Choice from Системная_плата_.Состояние = Поле_создано\r\n"
"\r\n"
"Провод_\r\n"
"	// Выбрать еще ненанесенный провод\r\n"
"	Choice from Провод_.Состояние = Существует\r\n"
"	Convert_rule\r\n"
"		Состояние set Нанесен\r\n"
"\r\n"
"Точка_1_начало_\r\n"
"	// Выбрать точку платы с коодинатами начальной точки провода\r\n"
"	Choice from Точка_1_начало_.Координата_X = Провод_.Координата_X_начала and\r\n"
"	            Точка_1_начало_.Координата_Y = Провод_.Координата_Y_начала\r\n"
"	Convert_rule\r\n"
"		Провод set Провод_.Номер\r\n"
"\r\n"
"Точка_2_конец_\r\n"
"	// Выбрать конечную точку\r\n"
"	Choice from Точка_2_конец_.Координата_X = Провод_.Координата_X_конца and\r\n"
"	            Точка_2_конец_.Координата_Y = Провод_.Координата_Y_конца\r\n"
"	Convert_rule\r\n"
"		Провод set Провод_.Номер\r\n"
"$End\r\n"
"\r\n"
"// Если все провода нанесены на плату, то можно начинать поиск\r\n"
"$Pattern Начало_поиска : rule\r\n"
"$Relevant_resources\r\n"
"	Провод_         : Провод Keep\r\n"
"	Текущий_провод_ : Текущий_провод Keep\r\n"
"	Системная_плата_: Системная_плата Keep\r\n"
"$Body\r\n"
"Провод_\r\n"
"	// Выбрать провод, путь которого еще не расчитан, певести провод в состояние Поиск,\r\n"
"	// чтобы не выбирать его для расчета в дальнейшем\r\n"
"	Choice from Провод_.Состояние = Нанесен\r\n"
"	Convert_rule\r\n"
"		Состояние set Поиск\r\n"
"\r\n"
"Текущий_провод_\r\n"
"	// Проинициализировать ресурс Текущий_провод значениями провода, путь которого будет расчитываться\r\n"
"	Convert_rule\r\n"
"		Номер              set Провод_.Номер\r\n"
"		Координата_X       set Провод_.Координата_X_начала\r\n"
"		Координата_Y       set Провод_.Координата_Y_начала\r\n"
"		Координата_X_конца set Провод_.Координата_X_конца\r\n"
"		Координата_Y_конца set Провод_.Координата_Y_конца\r\n"
"\r\n"
"Системная_плата_\r\n"
"	// Запустить расчет можно, если создано поле и точки всех проводов (начальные и конечные) нанесены на плату\r\n"
"	Choice from Системная_плата_.Состояние = Поле_создано and For_All(Провод : Провод.Состояние = Нанесен)\r\n"
"	Convert_rule\r\n"
"		// Теперь может начаться поиск пути для текущего провода с помощью DPT Поиск_пути\r\n"
"		Состояние set Поиск\r\n"
"$End\r\n"
"\r\n"
"// Образец, с помощью которого раскрывается граф\r\n"
"$Pattern Движение_точки: rule\r\n"
"$Parameters\r\n"
"	Направление : such_as Возможные_направления\r\n"
"$Relevant_resources\r\n"
"	Текущий_провод_ : Текущий_провод Keep\r\n"
"	Точка_          : Точки Keep\r\n"
"$Body\r\n"
"Текущий_провод_\r\n"
"	Convert_rule\r\n"
"		// Изменить координаты точки текущего провода в зависимости от направления движени\r\n"
"		Координата_X set Текущий_провод_.Координата_X + Изменение_координаты_X(Направление)\r\n"
"		Координата_Y set Текущий_провод_.Координата_Y + Изменение_координаты_Y(Направление)\r\n"
"\r\n"
"Точка_\r\n"
"	// Выбрать точку, через которую пройдет провод\r\n"
"	Choice from Точка_.Координата_X = Текущий_провод_.Координата_X + Изменение_координаты_X(Направление) and\r\n"
"	            Точка_.Координата_Y = Текущий_провод_.Координата_Y + Изменение_координаты_Y(Направление) and\r\n"
"	            [Точка_.Провод = 0 or Точка_.Провод = Текущий_провод_.Номер]\r\n"
"	Convert_rule\r\n"
"		// Зафиксировать в точке, что через неё проходит провод\r\n"
"		Провод set Текущий_провод_.Номер\r\n"
"$End\r\n"
"\r\n"
"// После расчета первого провода DPT search останавливается\r\n"
"// Чтобы расчитать все оставшиеся, используется паттерн Повтор\r\n"
"$Pattern Повтор : rule\r\n"
"$Relevant_resources\r\n"
"	Провод_         : Провод          Keep\r\n"
"	Текущий_провод_ : Текущий_провод  Keep\r\n"
"	Системная_плата_: Системная_плата NoChange\r\n"
"$Body\r\n"
"Провод_\r\n"
"	// см. паттерн Начало_поиска\r\n"
"	Choice from Провод_.Состояние = Нанесен\r\n"
"	Convert_rule\r\n"
"		Состояние set Поиск\r\n"
"\r\n"
"Текущий_провод_\r\n"
"	// см. паттерн Начало_поиска\r\n"
"	Convert_rule\r\n"
"		Номер              set Провод_.Номер\r\n"
"		Координата_X       set Провод_.Координата_X_начала\r\n"
"		Координата_Y       set Провод_.Координата_Y_начала\r\n"
"		Координата_X_конца set Провод_.Координата_X_конца\r\n"
"		Координата_Y_конца set Провод_.Координата_Y_конца\r\n"
"\r\n"
"Системная_плата_\r\n"
"	// Система уже в соостоянии Поиск, текущий провод тоже уже расчитан, но\r\n"
"	// остались нерасчитанные провода\r\n"
"	Choice from Системная_плата_.Состояние = Поиск and\r\n"
"	            Текущий_провод_.Координата_X = Текущий_провод_.Координата_X_конца and\r\n"
"	            Текущий_провод_.Координата_Y = Текущий_провод_.Координата_Y_конца and\r\n"
"	            Not_For_All(Провод : Провод.Состояние = Поиск)\r\n"
"$End\r\n"
"\r\n"
"// Окончание модели\r\n"
"$Pattern Выход : rule\r\n"
"$Relevant_resources\r\n"
"	Системная_плата_ : Системная_плата Keep\r\n"
"$Body\r\n"
"Системная_плата_\r\n"
"	// Система уже в соостоянии Поиск, текущий провод тоже уже расчитан, и\r\n"
"	// расчитаны вообще все провода\r\n"
"	Choice from Системная_плата_.Состояние = Поиск and\r\n"
"	            Текущий_провод.Координата_X = Текущий_провод.Координата_X_конца and\r\n"
"	            Текущий_провод.Координата_Y = Текущий_провод.Координата_Y_конца and\r\n"
"	            For_All(Провод : Провод.Состояние = Поиск)\r\n"
"	Convert_rule\r\n"
"		Состояние set Конец_расчета\r\n"
"$End"
}

RTP_MODEL RCDATA
{
"// Системная плата характеризуется только состояниями\r\n"
"$Resource_type Системная_плата_тип: permanent\r\n"
"$Parameters\r\n"
"	Состояние: (Поля_нет, Создание_поля, Поле_создано, Поиск, Конец_расчета) = Поля_нет\r\n"
"$End\r\n"
"\r\n"
"// Точки, из которых состоит поле печатной платы\r\n"
"$Resource_type Точки: temporary\r\n"
"$Parameters\r\n"
"	// Координаты точки на печатной плате\r\n"
"	Координата_X: integer\r\n"
"	Координата_Y: integer\r\n"
"	// Какой провод проходит, иначе 0\r\n"
"	Провод      : integer = 0\r\n"
"$End\r\n"
"\r\n"
"// Описывает один или несколько проводов, которые необходимо провести\r\n"
"$Resource_type Провод : permanent\r\n"
"$Parameters\r\n"
"	// Номер провода\r\n"
"	Номер              : integer\r\n"
"	// Начальная координата провода на плате, не изменяется в процессе прогона\r\n"
"	Координата_X_начала: integer\r\n"
"	Координата_Y_начала: integer\r\n"
"	// Конечная координата провода, не изменяется\r\n"
"	Координата_X_конца : integer\r\n"
"	Координата_Y_конца : integer\r\n"
"	// Состояние провода, используется для того, чтобы обрабатывался только один провод одновременно\r\n"
"	// Существует - начальная и конечная точки провода еще ненанесены на поле, начально состояние всех проводов\r\n"
"	// Нанесен    - начальная и конечная точки провода нанесены на поле, можно запускать поиск. Одновременно только один провод имеет такое состояние\r\n"
"	// Поиск      - сразу после начала поиска состояние менятся на Поиск, чтобы поиск для данного провода не запустился дважды\r\n"
"	Состояние         : (Существует, Нанесен, Поиск) = Существует\r\n"
"$End\r\n"
"\r\n"
"// Текущий провод вынесен в отдельный тип, чтобы не обрабатываться вместе с настоящими проводами\r\n"
"$Resource_type Текущий_провод_тип: permanent\r\n"
"$Parameters\r\n"
"	Номер             : integer\r\n"
"	Координата_X      : integer\r\n"
"	Координата_Y      : integer\r\n"
"	Координата_X_конца: integer\r\n"
"	Координата_Y_конца: integer\r\n"
"$End\r\n"
"\r\n"
"// Используется только для создания поля перед поиском\r\n"
"$Resource_type Счетчики: permanent\r\n"
"$Parameters\r\n"
"	// Текущее значение счетчика\r\n"
"	Значение          : integer = 0\r\n"
"	// Максимальное значение счетчика\r\n"
"	Граничное_значение: integer = 0\r\n"
"$End"
}

FRM_MODEL RCDATA
{
"$Frame Расчет\r\n"
"$Back_picture = <0 100 0> 300 60\r\n"
"Show\r\n"
"text [40,10,200,40, transparent, < 255 255 255 >, 'Состояние системы' ]\r\n"
"text [200,10,300,40, transparent, < 255 255 255 >, Системная_плата.Состояние ]\r\n"
"$End"
}

FUN_MODEL RCDATA
{
"	Возможные_направления: (Влево, Вправо, Вверх, Вниз) = Влево\r\n"
"$End\r\n"
"\r\n"
"$Function Изменение_координаты_X: integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Направление: such_as Возможные_направления\r\n"
"$Body\r\n"
"	Calculate_if Направление = Влево  Изменение_координаты_X = -1\r\n"
"	Calculate_if Направление = Вправо Изменение_координаты_X = 1\r\n"
"	Calculate_if 1 = 1                Изменение_координаты_X = 0\r\n"
"$End\r\n"
"\r\n"
"$Function Изменение_координаты_Y: integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Направление: such_as Возможные_направления\r\n"
"$Body\r\n"
"	Calculate_if Направление = Вверх  Изменение_координаты_Y = -1\r\n"
"	Calculate_if Направление = Вниз   Изменение_координаты_Y = 1\r\n"
"	Calculate_if 1 = 1                Изменение_координаты_Y = 0\r\n"
"$End\r\n"
"\r\n"
"$Function Расстояние: integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Просто_так: integer\r\n"
"$Body\r\n"
"	Calculate_if 1 = 1 Расстояние = (Текущий_провод.Координата_X - Текущий_провод.Координата_X_конца) *\r\n"
"	                                (Текущий_провод.Координата_X - Текущий_провод.Координата_X_конца) +\r\n"
"	                                (Текущий_провод.Координата_Y - Текущий_провод.Координата_Y_конца) *\r\n"
"	                                (Текущий_провод.Координата_Y - Текущий_провод.Координата_Y_конца)\r\n"
"$End"
}

DPT_MODEL RCDATA
{
"$Decision_point Вспомогательные_правила : some\r\n"
"$Condition NoCheck\r\n"
"$Activities\r\n"
"	Начало_создание_пустого_поля_ : Начало_создание_пустого_поля\r\n"
"	Создание_строки_              : Создание_строки\r\n"
"	Перевод_строки_               : Перевод_строки\r\n"
"	Конец_создания_поля_          : Конец_создания_поля\r\n"
"	Начало_поиска_                : Начало_поиска\r\n"
"	Нанесение_существующих_точек_ : Нанесение_существующих_точек\r\n"
"	// Повтор_ должен быть выше поиска на графе (DPT Поиск_пути), чтобы не было\r\n"
"	// зацикливания поиска. В Повтор'е не меняется состояние системы (остается равным Поиск).\r\n"
"	// Т.е. менять местами Вспомогательные_правила и Поиск_пути не надо.\r\n"
"	Повтор_                       : Повтор\r\n"
"	Выход_                        : Выход\r\n"
"$End\r\n"
"\r\n"
"$Decision_point Поиск_пути : search trace_tops\r\n"
"$Condition\r\n"
"	Системная_плата.Состояние = Поиск\r\n"
"$Term_condition\r\n"
"	Текущий_провод.Координата_X = Текущий_провод.Координата_X_конца and\r\n"
"	Текущий_провод.Координата_Y = Текущий_провод.Координата_Y_конца\r\n"
"$Evaluate_by Расстояние(0) // Оценочная функция\r\n"
"$Compare_tops = YES\r\n"
"$Activities\r\n"
"	// Для раскрытия графа будем использовать четыре правила передвижения провода,\r\n"
"	// основанные на одном паттерне\r\n"
"	Движение_точки_влево  : Движение_точки Влево  value after 1\r\n"
"	Движение_точки_вправо : Движение_точки Вправо value after 1\r\n"
"	Движение_точки_вверх  : Движение_точки Вверх  value after 1\r\n"
"	Движение_точки_вниз   : Движение_точки Вниз   value after 1\r\n"
"$End"
}

SMR_MODEL RCDATA
{
"Model_name    = plata\r\n"
"\r\n"
"Resource_file = plata\r\n"
"\r\n"
"Results_file  = plata\r\n"
"Trace_file    = plata\r\n"
"Frame_file    = plata\r\n"
"Frame_number  = 1\r\n"
"Show_mode     = Animation\r\n"
"Show_rate     = 10000.0\r\n"
"\r\n"
"Terminate_if Системная_плата.Состояние = Конец_расчета"
}

