#include "res_const.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

PAT_MODEL RCDATA
{
"$Pattern Начало_создание_пустого_поля : rule\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата Keep\r\n"
"  Счетчик_X_ : Счетчики Keep\r\n"
"  Счетчик_Y_ : Счетчики Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Создание_поля\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Процесс_создания\r\n"
"\r\n"
"Счетчик_X_\r\n"
"    Choice from Счетчик_X_.Параметр = 1\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set 0\r\n"
"	Граничное_значение set Кол_во_точек_по_X\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"    Choice from Счетчик_Y_.Параметр = 2\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set 1\r\n"
"	Граничное_значение set Кол_во_точек_по_Y\r\n"
"$End\r\n"
"\r\n"
"$Pattern Создание_строки : rule\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата NoChange\r\n"
"  Счетчик_X_ : Счетчики Keep\r\n"
"  Счетчик_Y_ : Счетчики NoChange\r\n"
"  Точка_     : Точки Create\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Процесс_создания\r\n"
"	first\r\n"
"\r\n"
"Счетчик_X_\r\n"
"    Choice from Счетчик_X_.Параметр = 1 and Счетчик_X_.Значение < Счетчик_X_.Граничное_значение\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set Счетчик_X_.Значение + 1\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"    Choice from Счетчик_Y_.Параметр = 2\r\n"
"	first\r\n"
"\r\n"
"Точка_\r\n"
"	Convert_rule\r\n"
"	Координата_X set Счетчик_X_.Значение\r\n"
"	Координата_Y set Счетчик_Y_.Значение\r\n"
"	Провод       set 0\r\n"
"$End\r\n"
"\r\n"
"$Pattern Перевод_строки : rule\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата NoChange\r\n"
"  Счетчик_X_ : Счетчики Keep\r\n"
"  Счетчик_Y_ : Счетчики Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Процесс_создания\r\n"
"	first\r\n"
"\r\n"
"Счетчик_X_\r\n"
"    Choice from Счетчик_X_.Параметр = 1 and Счетчик_X_.Значение = Счетчик_X_.Граничное_значение\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set 0\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"    Choice from Счетчик_Y_.Параметр = 2 and Счетчик_Y_.Значение < Счетчик_Y_.Граничное_значение\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set Счетчик_Y_.Значение + 1\r\n"
"$End\r\n"
"\r\n"
"$Pattern Конец_создания_поля : rule\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата Keep\r\n"
"  Счетчик_X_ : Счетчики Keep\r\n"
"  Счетчик_Y_ : Счетчики Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Процесс_создания\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Поле_создано\r\n"
"\r\n"
"Счетчик_X_\r\n"
"    Choice from Счетчик_X_.Параметр = 1 and Счетчик_X_.Значение = Счетчик_X_.Граничное_значение\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set 0\r\n"
"	Граничное_значение set 0\r\n"
"\r\n"
"Счетчик_Y_\r\n"
"    Choice from Счетчик_Y_.Параметр = 2 and Счетчик_Y_.Значение >= Счетчик_Y_.Граничное_значение\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Значение set 0\r\n"
"	Граничное_значение set 0\r\n"
"$End\r\n"
"\r\n"
"$Pattern Нанесение_существующих_точек : rule trace\r\n"
"$Relevant_resources\r\n"
" Система_   : Система_плата NoChange\r\n"
" Точка_провода_  : Точки_провода Keep\r\n"
" Точка_1_начало_ : Точки Keep\r\n"
" Точка_2_конец_  : Точки Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Поле_создано\r\n"
"	first\r\n"
"\r\n"
"Точка_провода_\r\n"
"	Choice from Точка_провода_.Состояние = Существует\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Нанесена\r\n"
"\r\n"
"Точка_1_начало_\r\n"
"	Choice from Точка_1_начало_.Координата_X = Точка_провода_.Координата_X and\r\n"
"				Точка_1_начало_.Координата_Y = Точка_провода_.Координата_Y\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"    Провод set Точка_провода_.Провод\r\n"
"\r\n"
"Точка_2_конец_\r\n"
"	Choice from Точка_2_конец_.Координата_X = Точка_провода_.Координата_X_конца and\r\n"
"				Точка_2_конец_.Координата_Y = Точка_провода_.Координата_Y_конца\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Провод set Точка_провода_.Провод\r\n"
"$End\r\n"
"\r\n"
"$Pattern Начало_поиска : rule\r\n"
"$Relevant_resources\r\n"
" Точка_провода_ : Точки_провода Keep\r\n"
" Точка_провода_текущая_1 : Точка_провода_текущая_ Keep\r\n"
" Система_   : Система_плата Keep\r\n"
"\r\n"
"$Body\r\n"
"Точка_провода_\r\n"
"	Choice from Точка_провода_.Состояние = Нанесена\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Обработана\r\n"
"\r\n"
"Точка_провода_текущая_1\r\n"
"    Choice NoCheck\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Провод             set Точка_провода_.Провод\r\n"
"	Координата_X       set Точка_провода_.Координата_X\r\n"
"	Координата_Y       set Точка_провода_.Координата_Y\r\n"
"	Координата_X_конца set Точка_провода_.Координата_X_конца\r\n"
"	Координата_Y_конца set Точка_провода_.Координата_Y_конца\r\n"
"\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Поле_создано and For_All(Точки_провода : Точки_провода.Состояние = Нанесена)\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Поиск\r\n"
"	Обрабатываемый_провод set Точка_провода_.Провод\r\n"
"$End\r\n"
"\r\n"
"$Pattern Движение_точки : rule\r\n"
"$Parameters\r\n"
"	Направление       : such_as Возможные_направления\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата NoChange\r\n"
"  Точка_провода_ : Точки_провода Keep\r\n"
"  Точка_провода_текущая_1 : Точка_провода_текущая_ Keep\r\n"
"  Точка_     : Точки Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Поиск\r\n"
"	first\r\n"
"\r\n"
"Точка_провода_\r\n"
"	Choice from Точка_провода_.Провод = Система_.Обрабатываемый_провод and [\r\n"
"				Точка_провода_.Координата_X <> Точка_провода_.Координата_X_конца or\r\n"
"				Точка_провода_.Координата_Y <> Точка_провода_.Координата_Y_конца ]\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Координата_X set Точка_провода_.Координата_X + Изменение_координаты_X(Направление)\r\n"
"    Координата_Y set Точка_провода_.Координата_Y + Изменение_координаты_Y(Направление)\r\n"
"\r\n"
"Точка_провода_текущая_1\r\n"
"    Choice NoCheck\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Координата_X       set Точка_провода_.Координата_X\r\n"
"	Координата_Y       set Точка_провода_.Координата_Y\r\n"
"\r\n"
"Точка_\r\n"
"	Choice from Точка_.Координата_X = Точка_провода_.Координата_X + Изменение_координаты_X(Направление) and\r\n"
"	            Точка_.Координата_Y = Точка_провода_.Координата_Y + Изменение_координаты_Y(Направление) and\r\n"
"				[ Точка_.Провод = 0 or Точка_.Провод = Точка_провода_.Провод]\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Провод set Точка_провода_.Провод\r\n"
"$End\r\n"
"\r\n"
"$Pattern Повтор : rule\r\n"
"$Relevant_resources\r\n"
"  Точка_провода_ : Точки_провода Keep\r\n"
"  Точка_провода_текущая_1 : Точка_провода_текущая_ Keep\r\n"
"  Система_   : Система_плата Keep\r\n"
"$Body\r\n"
"Точка_провода_\r\n"
"	Choice from Точка_провода_.Состояние = Нанесена\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set Обработана\r\n"
"\r\n"
"Точка_провода_текущая_1\r\n"
"    Choice NoCheck\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Провод             set Точка_провода_.Провод\r\n"
"	Координата_X       set Точка_провода_.Координата_X\r\n"
"	Координата_Y       set Точка_провода_.Координата_Y\r\n"
"	Координата_X_конца set Точка_провода_.Координата_X_конца\r\n"
"	Координата_Y_конца set Точка_провода_.Координата_Y_конца\r\n"
"\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Поиск and\r\n"
"	            Точка_провода_текущая_.Координата_X = Точка_провода_текущая_.Координата_X_конца and\r\n"
"	            Точка_провода_текущая_.Координата_Y = Точка_провода_текущая_.Координата_Y_конца and\r\n"
"				Not_For_All(Точки_провода : Точки_провода.Состояние = Обработана)\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Обрабатываемый_провод set Точка_провода_.Провод\r\n"
"$End\r\n"
"\r\n"
"$Pattern Выход : rule\r\n"
"$Relevant_resources\r\n"
"  Система_   : Система_плата Keep\r\n"
"$Body\r\n"
"Система_\r\n"
"	Choice from Система_.Состояние = Поиск and\r\n"
"	            Точка_провода_текущая_.Координата_X = Точка_провода_текущая_.Координата_X_конца and\r\n"
"	            Точка_провода_текущая_.Координата_Y = Точка_провода_текущая_.Координата_Y_конца and\r\n"
"				For_All(Точки_провода : Точки_провода.Состояние = Обработана)\r\n"
"	first\r\n"
"	Convert_rule\r\n"
"	Состояние set end\r\n"
"$End"
}

RTP_MODEL RCDATA
{
"$Resource_type Система : permanent\r\n"
"$Parameters\r\n"
" Состояние : (Создание_поля, Процесс_создания, Поле_создано, Поиск, end) = Создание_поля\r\n"
" Обрабатываемый_провод : integer = 0\r\n"
"$End\r\n"
"\r\n"
"$Resource_type  Точки : temporary\r\n"
"$Parameters\r\n"
"  Координата_X        : integer\r\n"
"  Координата_Y        : integer\r\n"
"  Провод              : integer\r\n"
"$End\r\n"
"\r\n"
"$Resource_type  Точки_провода : permanent\r\n"
"$Parameters\r\n"
"  Провод              : integer\r\n"
"  Координата_X        : integer\r\n"
"  Координата_Y        : integer\r\n"
"  Координата_X_конца  : integer\r\n"
"  Координата_Y_конца  : integer\r\n"
"  Состояние : (Нанесена, Существует, Обработана) = Существует\r\n"
"$End\r\n"
"\r\n"
"$Resource_type  Точка_провода_текущая : permanent\r\n"
"$Parameters\r\n"
"  Провод              : integer\r\n"
"  Координата_X        : integer\r\n"
"  Координата_Y        : integer\r\n"
"  Координата_X_конца  : integer\r\n"
"  Координата_Y_конца  : integer\r\n"
"$End\r\n"
"\r\n"
"$Resource_type Счетчики : permanent\r\n"
"$Parameters\r\n"
"  Значение : integer = 0\r\n"
"  Граничное_значение : integer = 0\r\n"
"  Параметр : integer\r\n"
"$End"
}

FRM_MODEL RCDATA
{
"$Frame  Тетрис\r\n"
"$Back_picture = <0 100 0>  640 480\r\n"
"Show\r\n"
"text   [10,12,100,10, <0 255 0>, <0 0 0>, 'Работает модель' ]\r\n"
"text   [10,108,300,10, <0 255 0>, <0 0 0>, Система_плата.Состояние ]\r\n"
"$End"
}

FUN_MODEL RCDATA
{
"	Возможные_направления : (Влево, Вправо, Вверх, Вниз) = Влево\r\n"
"$End\r\n"
"\r\n"
"$Function Изменение_координаты_X : integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Направление : such_as Возможные_направления\r\n"
"$Body\r\n"
"	Calculate_if Направление = Влево  Изменение_координаты_X = -1\r\n"
"	Calculate_if Направление = Вправо Изменение_координаты_X = 1\r\n"
"	Calculate_if 0 = 0                Изменение_координаты_X = 0\r\n"
"$End\r\n"
"\r\n"
"$Function Изменение_координаты_Y : integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Направление : such_as Возможные_направления\r\n"
"$Body\r\n"
"	Calculate_if Направление = Вверх  Изменение_координаты_Y = -1\r\n"
"	Calculate_if Направление = Вниз   Изменение_координаты_Y = 1\r\n"
"	Calculate_if 0 = 0                Изменение_координаты_Y = 0\r\n"
"$End\r\n"
"\r\n"
"$Function Оценка : integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	Просто_так : integer\r\n"
"$Body\r\n"
"	Calculate_if 0 = 0 Оценка = (Точка_провода_текущая_.Координата_X - Точка_провода_текущая_.Координата_X_конца) *\r\n"
"								(Точка_провода_текущая_.Координата_X - Точка_провода_текущая_.Координата_X_конца) +\r\n"
"								(Точка_провода_текущая_.Координата_Y - Точка_провода_текущая_.Координата_Y_конца) *\r\n"
"								(Точка_провода_текущая_.Координата_Y - Точка_провода_текущая_.Координата_Y_конца)\r\n"
"$End"
}

DPT_MODEL RCDATA
{
"$Decision_point Действие_1 : some\r\n"
"$Condition NoCheck\r\n"
"$Activities\r\n"
"	Начало_создание_пустого_поля_1 : Начало_создание_пустого_поля\r\n"
"	Создание_строки_1              : Создание_строки\r\n"
"	Перевод_строки_1               : Перевод_строки\r\n"
"	Конец_создания_поля_1          : Конец_создания_поля\r\n"
"	Начало_поиска_1                : Начало_поиска\r\n"
"	Нанесение_существующих_точек_1 : Нанесение_существующих_точек\r\n"
"	Повтор_1                       : Повтор\r\n"
"	Выход_1                        : Выход\r\n"
"$End\r\n"
"\r\n"
"$Decision_point Действие_2 : search trace_tops\r\n"
"$Condition\r\n"
"	Система_плата.Состояние = Поиск\r\n"
"$Term_condition\r\n"
"	Точка_провода_текущая_.Координата_X = Точка_провода_текущая_.Координата_X_конца and\r\n"
"	Точка_провода_текущая_.Координата_Y = Точка_провода_текущая_.Координата_Y_конца\r\n"
"$Evaluate_by Оценка(0)\r\n"
"$Compare_tops = YES\r\n"
"$Activities\r\n"
"	Движение_точки_1_влево  : Движение_точки Влево  value after (Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) *\r\n"
"																(Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) +\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца) *\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца)\r\n"
"	Движение_точки_1_вправо : Движение_точки Вправо value after (Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) *\r\n"
"																(Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) +\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца) *\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца)\r\n"
"	Движение_точки_1_вверх  : Движение_точки Вверх  value after (Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) *\r\n"
"																(Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) +\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца) *\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца)\r\n"
"	Движение_точки_1_вниз   : Движение_точки Вниз   value after (Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) *\r\n"
"																(Точка_провода_.Координата_X - Точка_провода_.Координата_X_конца) +\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца) *\r\n"
"																(Точка_провода_.Координата_Y - Точка_провода_.Координата_Y_конца)\r\n"
"$End"
}

SMR_MODEL RCDATA
{
"Model_name     = plata\r\n"
"\r\n"
"Resource_file  = plata\r\n"
"\r\n"
"Results_file   = plata\r\n"
"Trace_file     = plata\r\n"
"Frame_file     = plata\r\n"
"Frame_number   = 1\r\n"
"Show_mode      = Animation\r\n"
"Show_rate      = 10000.0\r\n"
"\r\n"
"Terminate_if Система_плата.Состояние = end"
}


