#include "DailyTasks_report_consts.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

STRINGTABLE
{
  sTaskTitle,                   "Сменно-суточные задания на %s"
  sGroupByPress,                "оборудованию"
  sGroupByPersonal,             "сотрудникам"
  sTaskFio,                     "Фамилия, И. О."
  sTaskPress,                   "Пресс"
  sTaskDetName,                 "Наименование детали"
  sTaskWulkTemp,                "t вулк., С"
  sTaskPFNumber,                "Кол-во прессформ"
  sTaskPressure,                "Давление, атм."
  sTaskQuantity,                "Объем выпуска"
  sTaskQuantityInFact,          "Фактич. выпуск"
  sTaskSmenaTitle,              "Смена № %d"
  sTaskGroupNo,                 "  (Группа № %d)"
}
