#include "rdo_plugin_game5_model_const.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

PAT_MODEL RCDATA
{
"$Pattern Перемещение_фишки : rule\r\n"
"$Parameters\r\n"
"	Куда_перемещать      : such_as Место_дырки\r\n"
"	На_сколько_перемещать: integer\r\n"
"$Relevant_resources\r\n"
"	_Фишка: Фишка  Keep\r\n"
"	_Дырка: Дырка  Keep\r\n"
"$Body\r\n"
"_Фишка\r\n"
"	Choice from Где_дырка(_Фишка.Местоположение) = Куда_перемещать\r\n"
"	Convert_rule Местоположение set _Фишка.Местоположение + На_сколько_перемещать\r\n"
"_Дырка\r\n"
"	Convert_rule Местоположение set _Дырка.Местоположение - На_сколько_перемещать\r\n"
"$End"
}

RTP_MODEL RCDATA
{
"$Resource_type Фишка : permanent\r\n"
"$Parameters\r\n"
"	Номер         : integer[1..5]\r\n"
"	Местоположение: integer[1..6]\r\n"
"$End\r\n"
"\r\n"
"$Resource_type Дырка_t : permanent\r\n"
"$Parameters\r\n"
"	Местоположение: integer[1..6]\r\n"
"$End"
}

FUN_MODEL RCDATA
{
"$Constant\r\n"
"	Место_дырки: (справа, слева, сверху, снизу, дырки_рядом_нет) = дырки_рядом_нет\r\n"
"$End\r\n"
"\r\n"
"$Function Где_дырка : such_as Место_дырки\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	_Место: such_as Фишка.Местоположение\r\n"
"$Body\r\n"
"	Calculate_if _Место = Дырка.Место + 3  Где_дырка = сверху\r\n"
"	Calculate_if _Место = Дырка.Место - 3  Где_дырка = снизу\r\n"
"	Calculate_if _Место <> 3  and _Место <> 6 and _Место = Дырка.Местоположение - 1  Где_дырка = справа\r\n"
"	Calculate_if _Место <> 1  and _Место <> 4 and _Место = Дырка.Местоположение + 1  Где_дырка = слева\r\n"
"	Calculate_if 0 = 0  Где_дырка = дырки_рядом_нет\r\n"
"$End\r\n"
"\r\n"
"$Function Фишка_на_месте : integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"	_Номер: such_as Фишка.Номер\r\n"
"	_Место: such_as Фишка.Местоположение\r\n"
"$Body\r\n"
"	Calculate_if _Номер = _Место Фишка_на_месте = 1\r\n"
"	Calculate_if  0 = 0          Фишка_на_месте = 0\r\n"
"$End\r\n"
"\r\n"
"$Function Кол_во_фишек_не_на_месте : integer\r\n"
"$Type = algorithmic\r\n"
"$Parameters\r\n"
"$Body\r\n"
"	Calculate_if 0 = 0\r\n"
"	Кол_во_фишек_не_на_месте = 5 - (Фишка_на_месте(Фишка1.Номер, Фишка1.Местоположение)+\r\n"
"									Фишка_на_месте(Фишка2.Номер, Фишка2.Местоположение)+\r\n"
"									Фишка_на_месте(Фишка3.Номер, Фишка3.Местоположение)+\r\n"
"									Фишка_на_месте(Фишка4.Номер, Фишка4.Местоположение)+\r\n"
"									Фишка_на_месте(Фишка5.Номер, Фишка5.Местоположение))\r\n"
"$End"
}

SMR_MODEL RCDATA
{
"Model_name     = game5\r\n"
"\r\n"
"Resource_file  = game5\r\n"
"Results_file   = game5\r\n"
"Trace_file     = game5"
}

