#include "Report_Consts.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

STRINGTABLE
{
  sOptionsCaption,              "Настройки просмотра и отчета"
  sPages,                       "Страница %d из %d"
  sPrinted,                     "Напечатано: %s"
  sPaperSize,                   "Размер бумаги: %dx%d мм"
  sZoomFitBox,                  "Страница"
  sZoomWidthBox,                "По ширине"

  sOffsetsError,                "Размеры поля или полей лежат вне области печати.\r\nИсправить?"
  sNoPrintersError,             "Не удается найти ни одного установленного в системе принтера."
  sScaleRangeError,             "Значение масштаба должно быть в интервале от %s до %s"
}

