#include "ConstRes.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

STRINGTABLE
{
    sPicturePreview            "Image review"
    sProductInfo               "Product info"
    sExploreModels             "Explore Models"
    sReviewModels              "Review Models"
    sMoreInfo                  "More Info"
    sExit                      "Exit"
    sOptions                   "Options"
    sModSum                    "About simulation"
    sRun                       "Run"
    sViewSource                "View source"
    sStopShow                  "Stop review"
    sBMSTU                     "Bauman Moscow State Technical University"
    sBMSTU2                    ""
    sDept                      "Dept.: \"Computer Systems"
    sDept2                     "for Manufacturing Automation\""
    sMoscow                    "Moscow, Russia. Tel: (095) 263-6388"
    sEMail                     "evv@rk9.bmstu.ru"
    sFirstPage                 "Go to the first page"
    sForward                   "Go forward"
    sBackward                  "Go backward"
    sLastPage                  "Go to the last page"
    sRunPresent                "Run presentation"
    sStopPresPInfo             "You should stop presentation to view product info"
    sStopModToExplore          "You should stop models review to explore models in full mode"
    sStopPresToExplore         "You should stop presentation to explore models"
    sStopPresToReview          "You should stop presentation to run models review"
    sReviewRunning             "Models review is already running"
    sStopRevToPres             "You should stop models review to run presentation"
    sPresentRunning            "Presentation is already runned"
    sPageOf                    "Page %d of %d"
    sStopPresent               "Stop presentation"
    sStopPresOpt               "Presentation will be stopped to display options"
    sStopRevOpt                "Models review will be stopped to display options"
    sShowOptWarn               "You should set:"
    sShowOptWarn2              "in \"RAO_Explorer.ini\" before next run to change options"
    sZoomFit                   "Zoom to fit in window"
    sZoomAct                   "Zoom to actual size"
    sFullReview                "Full review"
    sCancel                    "Cancel"
    sUseDefMod                 "Use defined for models"
    sUseDefPages               "Use defined for pages"
    sShowOpt                   "Show options menu"
    sLang                      "Language"
    sModDelay                  "Models review delays"
    sPresDelay                 "Presentation delays"
    sDelay                     "Delay"
    sSec                       "sec."
    sAutoRunPres               "Run presentation automatically"
    sResources                 "Resources"
    sActions                   "Actions"
    sOperations                "Operations"
    sBMSTUBottom               "Bauman Moscow State Technical University, 2001"
    sModels                    "Models"
    sCD                        "RAO Demo CD"
    sWeb                       "http://staff.fucam.ac.be/~cregi/rao/"
    sAutoStartPres             "Autostart presentation"
    sIvalidModDelay            "'%s' is not a valid integer value for models delay"
    sIvalidPresDelay            "'%s' is not a valid integer value for presentation pages delay"
}