#include "ConstRes.h"

#ifdef win32
  LANGUAGE LANG_RUSSIAN, 1
#endif

STRINGTABLE
{
    sAppTitle                    "Участок РТИ"
    sCaption                     "Производственный участок по выпуску РТИ %s"
    sRecordDelete                "Удалить запись"
    sSelectProgramm              "%s %s года"
    sCompanyName                 "ОАО \"Коломенский завод РТИ\""
    sProgramCreate               "Создание производственной программы"
    sProgramDelete               "Удалить текущую производственную программу"
    sUnknowValue                 "???"
    sUnknowDate                  "??? года"
    sDateMask                    "mmmm yyyy года"
    sHaveProgramByDate           "задана"
    sNoProgramByDate             "отсутствует"
    sYesValueUpperCase           "ДА"
    sNoValueLowerCase            "нет"
    sMainProgramPart             "Основная часть производственной программы"
    sNotMainProgramPart          "Дополнение к плану"
    sMainProgramPart_short       "основная часть"
    sNotMainProgramPart_short    "дополнение"
    sMainProgramPartComplete     "завершена"
    sNotMainProgramPartComplete  "завершено"
    sProgramPartDelete           "Удалить дополнение к плану (%s)"
    sProgramPartLock             "составление завершено"
    sIniFileName                 "Rubber.ini"
    sFindProductName             "Поиск изделия '%s'"

    sUnknownError                        "Неизвестная ошибка"
    sFunError                            "Ошибка выполнения функции '%s':\n%s"
    sErrorFolderBrowse                   "Ошибка выбора директории"
    sErrorDeletePersonal                 "Невозможно удалить данного сотрудника из производственной программы, потому что он задействован в сменно-суточном задании"
    sErrorDeleteMachine                  "Невозможно удалить данное оборудование из производственной программы, потому что оно задействовано в сменно-суточном задании"
    sErrorBuildDailyTasks                "Ошибка расчета сменно-суточного задания"
    sErrorBuildModel                     "Ошибка создания модели"
    sErrorRDORun                         "Не удалось произвести моделирование участка"
    sErrorCreateProcess                  "Ошибка запуска модели на исполнение"
    sErrorBuildModelData                 "Некорректные данные для моделирования участка по выпуску РТИ"
    sErrorOpenTraceFile                  "Отсутствуют результаты моделирования участка по выпуску РТИ"
    sErrorNoOrders                       "Отсутствует программа выпуска"
    sErrorNoMachineInProg                "Необходимо назначить оборудование, которое будет использоваться на участке"
    sErrorBadMachineInProg               "На выбранном оборудовании невозможно полностью отработать производственную программу, т.к. прессформа изделия %s не помещается ни на одном прессе"
    sErrorPlaneKoef                      "Значение каждого весового коэффициента должно быть больше нуля" 

    sErrorBadMachine                     "Ошибка в параметрах оборудования '%s':\n%s"
    sErrorBadMachinePressure             "Неопределено давление гидросистемы"
    sErrorBadMachineEffort               "Неопределено усилие прессования"
    sErrorBadMachineFloors               "Неопределена этажность"
    sErrorBadMachineFloorHeight          "Неопределена высота этажа"
    sErrorBadMachineLoadSides            "Неопределено число сторон загрузки"
    sErrorBadMachinePlateLength          "Неопределена длина плиты пресса"
    sErrorBadMachinePlateWidth           "Неопределена ширина плиты пресса"

    sErrorBadProduct                     "Ошибка в параметрах изделия '%s':\n%s"
    sErrorBadProductLoadTime             "Неопределено время загрузки"
    sErrorBadProductVulcanTime           "Неопределено время вулканизации"
    sErrorBadProductVulcanTemperature    "Неопределена температура вулканизации"
    sErrorBadProductPFPressureOn100      "Неопределено давление на одну прессформу на 100-тонном прессе"
    sErrorBadProductPFNumber             "Неопределено количество прессформ"
    sErrorBadProductPFPlaces             "Неопределено количество мест в прессформе"
    sErrorBadProductPFHeight             "Неопределена высота прессформы"
    sErrorBadProductPFWidth              "Неопределена ширина прессформы"
    sErrorBadProductPFLength             "Неопределена длина прессформы"
    sErrorBadProductPFDiameter           "Неопределен диаметр прессформы"

    Tr1  , "'%s' is not a valid integer value"
    Tr2  , "'%s' не является целочисленной величеной"
    Tr3  , "'%s' is not a valid floating point value"
    Tr4  , "'%s' не является вещественной величеной"
    Tr5  , "'%s' is not a valid date"
    Tr6  , "'%s' не является значением даты"
    Tr7  , "'%s' is not a valid time"
    Tr8  , "'%s' не является значением времени"
    Tr9  , "'%s' is not a valid date and time"
    Tr10 , "'%s' не является значением даты и времени"
    Tr11 , "Invalid argument to time encode"
    Tr12 , "Недопустимый параметр в выражении времени"
    Tr13 , "Invalid argument to date encode"
    Tr14 , "Недопустимый параметр в выражении даты"
    Tr15 , "Out of memory"
    Tr16 , "Выход за пределы памяти"
    Tr17 , "I/O error %s"
    Tr18 , "Ошибка ввода/вывода %s"
    Tr19 , "File not found"
    Tr20 , "Файл не найден"
    Tr21 , "Invalid filename"
    Tr22 , "Недопустимое имя файла"
    Tr23 , "Too many open files"
    Tr24 , "Слишком много открытых файлов"
    Tr25 , "File access denied"
    Tr26 , "Не разрешен доступ к файлу"
    Tr27 , "Read beyond end of file"
    Tr28 , "Чтение за пределами конца файла"
    Tr29 , "Disk full"
    Tr30 , "Диск заполнен"
    Tr31 , "Invalid numeric input"
    Tr32 , "Недопустимый числовой ввод"
    Tr33 , "Division by zero"
    Tr34 , "Деление на ноль"
    Tr35 , "Range check error"
    Tr36 , "Ошибка проверки принадлежности к диапазону"
    Tr37 , "Integer overflow"
    Tr38 , "Переполнение целочисленной величины"
    Tr39 , "Invalid floating point operation"
    Tr40 , "Недопустимая операция с вещественной величеной"
    Tr41 , "Floating point division by zero"
    Tr42 , "Деление на ноль вещественной величины"
    Tr43 , "Floating point overflow"
    Tr44 , "Переполнение вещественной величины"
    Tr45 , "Floating point underflow"
    Tr46 , "Антипереполнение вещественной величины"
    Tr47 , "Invalid pointer operation"
    Tr48 , "Недопустимая операция с указателем"
    Tr49 , "Invalid class typecast"
    Tr50 , "Неправильное приведение типа класса"
    Tr51 , "Access violation at address %s in module '%s'. %s of address %s"
    Tr52 , "Ошибка доступа по адресу %s в модуле '%s'. %s из адреса %s"
    Tr53 , "Stack overflow"
    Tr54 , "Переполнение стека"
    Tr55 , "Control-C hit"
    Tr56 , "Нажатие комбинации клавиш CRTL-C"
    Tr57 , "Privileged instruction"
    Tr58 , "Привилегированная команда"
    Tr59 , "Operation aborted"
    Tr60 , "Операция прервана"
    Tr61 , "Exception %s in module %s at %s.\n%s"
    Tr62 , "Возникло исключение %s в модуле %s в %s.\n%s"
    Tr63 , "Application Error"
    Tr64 , "Ошибка приложения"
    Tr65 , "Format '%s' invalid or incompatible with argument"
    Tr66 , "Формат '%s' является нелопустимым или несовместимым с параметрами"
    Tr67 , "No argument for format '%s'"
    Tr68 , "Нет аргумента для формата '%s'"
    Tr69 , "Invalid variant type conversion"
    Tr70 , "Недопустимое преобразование варьируемого типа"
    Tr71 , "Invalid variant operation"
    Tr72 , "Недопустимая варьируемая операция"
    Tr73 , "Variant method calls not supported"
    Tr74 , "Не поддерживаются вызовы варьируемых методов"
    Tr75 , "Format result longer than 4096 characters"
    Tr76 , "Результат форматирования больше чем 4096 символы"
    Tr77 , "Format string too long"
    Tr78 , "Строка для форматирования слишком длинная"
    Tr79 , "Error creating variant array"
    Tr80 , "Ошибка создания варьируемого массива"
    Tr81 , "Variant is not an array"
    Tr82 , "Варьируемая переменная не является массивом"
    Tr83 , "Variant array index out of bounds"
    Tr84 , "Индекс варьируемого массива вышел за пределы допустимого диапазона"
    Tr85 , "External exception %s"
    Tr86 , "Внешнее исключение %s"
    Tr87 , "Assertion failed"
    Tr88 , "Утверждение ошибочно"
    Tr89 , "Interface not supported"
    Tr90 , "Интерфейс не поддерживается"
    Tr91 , "%s (%s, line %s)"
    Tr92 , "%s (%s, строка %s)"
    Tr93 , "Abstract Error"
    Tr94 , "Абстрактная ошибка"
    Tr95 , "Access violation at address %s. %s of address %s"
    Tr96 , "Ошибка доступа по адресу %s. %s из адреса %s"
    Tr97 , "Cannot access package information for package '%s'"
    Tr98 , "Нет доступа к пакетной информации пакета '%s'"
    Tr99 , "Can't load package %s.\n%s"
    Tr100, "Невозможно загрузить пакет %s.\n%s"
    Tr101, "Invalid package file '%s'"
    Tr102, "Недопустимый файл пакета '%s'"
    Tr103, "Invalid package handle"
    Tr104, "Недопустимый дескриптор пакета"
    Tr105, "Cannot load package '%s.'  It contains unit '%s,';which is also contained in package '%s'"
    Tr106, "Невозможно загрузить пакет '%s'. Он содержит модуль '%s', который содержится в пакете '%s'"
    Tr107, "Win32 Error.  Code: %s.\n%s"
    Tr108, "Ошибка Win32. Код: %s.\n%s"
    Tr109, "A Win32 API function failed"
    Tr110, "Функция Win32 API не выполнилась"

    Tr111, "Invalid field size"
    Tr112, "Недопустимый размер поля"
    Tr113, "Invalid FieldKind"
    Tr114, "Недопустимый вид поля"
    Tr115, "Invalid field registration"
    Tr116, "Недопустимая регистрация поля"
    Tr117, "Field '%s' is of an unknown type"
    Tr118, "Поле '%s' имеет неизвестный тип"
    Tr119, "Field name missing"
    Tr120, "Отсутствует имя поля"
    Tr121, "Duplicate field name '%s'"
    Tr122, "Дублирование имени поля '%s'"
    Tr123, "Field '%s' not found"
    Tr124, "Не найдено поле '%s'"
    Tr125, "Cannot access field '%s' as type %s"
    Tr126, "Невозможно обратиться к полю '%s' как к полю с типом %s"
    Tr127, "Invalid value for field '%s'"
    Tr128, "Недопустимое значение для поля '%s'"
    Tr129, "%s is not a valid value for field '%s'. The allowed range is %s to %s"
    Tr130, "%s - не допустимое значение для поля '%s'. Разрешенный диапазон - от %s до %s"
    Tr131, "'%s' is not a valid integer value for field '%s'"
    Tr132, "'%s' - не допустимое целочисленное значение для поля '%s'"
    Tr133, "'%s' is not a valid boolean value for field '%s'"
    Tr134, "'%s' - не допустимое булево значение для поля '%s'"
    Tr135, "'%s' is not a valid floating point value for field '%s'"
    Tr136, "'%s' - не допустимое вещественное значение для поля '%s'"
    Tr137, "Type mismatch for field '%s', expecting: %s actual: %s"
    Tr138, "Несоответствие типов для поля '%s':\nожидается: %s\nфактический: %s"
    Tr139, "Size mismatch for field '%s', expecting: %s actual: %s"
    Tr140, "Несоответствие размеров для поля '%s':\nожидается: %s\nфактический: %s"
    Tr141, "Invalid variant type or size for field '%s'"
    Tr142, "Недопустимый тип или размер для поля '%s'"
    Tr143, "Value of field '%s' is out of range"
    Tr144, "Значение поля '%s' вышло за рамки допустимого диапазона"
    Tr145, "(Overflow)"
    Tr146, "(Переполнение)"
    Tr147, "Field '%s' must have a value"
    Tr148, "Поле '%s' должно иметь значение"
    Tr149, "Field '%s' has no dataset"
    Tr150, "Поле '%s' не содержится в таблице"
    Tr151, "Field '%s' cannot be a calculated or lookup field"
    Tr152, "Поле '%s' не может являться автоматически расчитываемым или поисковым полем"
    Tr153, "Field '%s' cannot be modified"
    Tr154, "Поле '%s' не может быть изменено"
    Tr155, "Field index out of range"
    Tr156, "Индекс поля вышел за рамки допустимого диапазона"
    Tr157, "No index currently active"
    Tr158, "Нет ни одного активного индекса"
    Tr159, "Field '%s' is not indexed and cannot be modified"
    Tr160, "Поле '%s' не индексировано и не может быть изменено"
    Tr161, "Cannot access index field '%s'"
    Tr162, "Нет доступа к индексному полю '%s'"
    Tr163, "Duplicate index name '%s'"
    Tr164, "Дубликат имени индекса '%s'"
    Tr165, "No index for fields '%s'"
    Tr166, "Нет индекса для полей '%s'"
    Tr167, "Index '%s' not found"
    Tr168, "Не найден индекс '%s'"
    Tr169, "Duplicate name '%s' in %s"
    Tr170, "Повторение имени '%s' в %s"
    Tr171, "Circular datalinks are not allowed"
    Tr172, "Циклические ссылки не поддерживаются"
    Tr173, "Lookup information for field '%s' is incomplete"
    Tr174, "Неполна поисковая информация поля '%s'"
    Tr175, "DataSource cannot be changed"
    Tr176, "Таблица не может быть изменена"
    Tr177, "Nested datasets cannot have a MasterSource"
    Tr178, "Вложенные таблицы не могут иметь MasterSource"
    Tr179, "Cannot perform this operation on an open dataset"
    Tr180, "Данная операция не может быть выполнена при открытой таблице"
    Tr181, "Dataset not in edit or insert mode"
    Tr182, "Таблица не находится в режиме вставки или редактирования"
    Tr183, "Cannot perform this operation on a closed dataset"
    Tr184, "Данная операция не может быть выполнена при закрытой таблице"
    Tr185, "Cannot perform this operation on an empty dataset"
    Tr186, "Данная операция не может быть выполнена, т.к. таблица пуста"
    Tr187, "Cannot modify a read-only dataset"
    Tr188, "Невозможно изменить таблицу, предназначенную только для чтения"
    Tr189, "Nested dataset must inherit from %s"
    Tr190, "Вложенная таблица должна наследоваться от %s"
    Tr191, "Filter expression incorrectly terminated"
    Tr192, "Неправильно завершенное выражение Фильтра"
    Tr193, "Unterminated field name"
    Tr194, "Незавершенное имя поля"
    Tr195, "Unterminated string constant"
    Tr196, "Незавершенная строковая константа"
    Tr197, "Invalid filter expression character: '%s'"
    Tr198, "Недопустимый символ в выражении фильтра: '%s'"
    Tr199, "'(' expected but %s found"
    Tr200, "Вместо символа '(' найден %s"
    Tr201, "')' expected but %s found"
    Tr202, "Вместо символа ')' найден %s"
    Tr203, "')' or ',' expected but %s found"
    Tr204, "Вместо символов ')' или ',' найден %s"
    Tr205, "Expression expected but %s found"
    Tr206, "Вместо ожидаемого выражения найдено %s"
    Tr207, "Field '%s' cannot be used in a filter expression"
    Tr208, "Поле '%s' не может использоваться в выражении фильтра"
    Tr209, "NULL only allowed with '=' and '<>'"
    Tr210, "NULL можно использовать только с '=' или '<>'"
    Tr211, "Constant out of range"
    Tr212, "Константа вышла за рамки допустимого диапазона"
    Tr213, "Field '%s' is not of type Boolean"
    Tr214, "Поле '%s' не имеет булевский тип"
    Tr215, "Incorrectly formed filter expression"
    Tr216, "Неправильно сформированное выражение фильтра"
    Tr217, "Type mismatch in expression"
    Tr218, "Несоответствие типов в выражении"
    Tr219, "Operation cannot mix aggregate value with record-varying value"
    Tr220, "Операция не может смешивать составное значение с изменяющимся значением записи"
    Tr221, "Arithmetic in filter expressions not supported"
    Tr222, "Арифметическое выражение, используеммое в фильтре, не поддерживается"
    Tr223, "Expression is not an aggregate expression"
    Tr224, "Выражение не является составным"
    Tr225, "Constant is not correct type %s"
    Tr226, "У константы неправильный типа %s"
    Tr227, "Aggregate expressions not allowed in filters"
    Tr228, "В фильтрах не допускается использование составных выражений"
    Tr229, "IN predicate list may not be empty"
    Tr230, "Предикат списка IN не может быть пустым"
    Tr231, "Invalid use of keyword"
    Tr232, "Недопустимое использование ключевого слова"
    Tr233, "Parameter '%s' not found"
    Tr234, "Не найден параметр '%s'"
    Tr235, "Unable to load bind parameters"
    Tr236, "Невозможно загрузить параметры связи"
    Tr237, "Parameter '%s', cannot save data larger than %s bytes"
    Tr238, "Параметр '%s' не может сохранять данные больше чем %s байт"
    Tr239, "Field '%s' is of an unsupported type"
    Tr240, "Поле '%s' имеет неподдерживаемый тип"
    Tr241, "Property may not be modified while aggregate is active"
    Tr242, "При активном агрегате не может быть изменено свойство"
    Tr243, "SQL not supported: %s"
    Tr244, "SQL не поддерживает: %s"
    Tr245, "Execute not supported: %s"
    Tr246, "Обработчик не поддерживает: %s"
    Tr247, "Record changed by another user"
    Tr248, "Запись изменена другим пользователем"

    Tr249, "Minimum validity check failed.\r\nField: %s"
    Tr250, "Поле '%s' содержит значение меньше допустимого"
    Tr251, "Maximum validity check failed.\r\nField: %s"
    Tr252, "Поле '%s' содержит значение больше допустимого"
    Tr253, "Master has detail records. Cannot delete or modify."
    Tr254, "Запись невозможно удалить или изменить, т.к. с ней связанна информация из базы данных"
    Tr255, "Field value required.\r\nField: %s"
    Tr256, "Поле '%s' должно иметь значение"
    Tr257, "Key violation.\r\nIndex: %s"
    Tr258, "В поле '%s' не могут соджержаться повторяющиеся значения"

    Tr_F_1  , "ProductID"
    Tr_F_2  , "Наименование изделия"
    Tr_F_3  , "ProductName"
    Tr_F_4  , "Наименование изделия"
    Tr_F_5  , "TechMap"
    Tr_F_6  , "Номер тех. карты"
    Tr_F_7  , "Weight"
    Tr_F_8  , "Вес изделия"
    Tr_F_9  , "ZagWeight"
    Tr_F_10 , "Вес заготовки"
    Tr_F_11 , "VulcanTime"
    Tr_F_12 , "Время вылканизации"
    Tr_F_13 , "VulcanTemperature"
    Tr_F_14 , "Температура вулканизации"
    Tr_F_15 , "LoadTime"
    Tr_F_16 , "Время загрузки"
    Tr_F_17 , "PFHeight"
    Tr_F_18 , "Высота прессформы"
    Tr_F_19 , "PFWidth"
    Tr_F_20 , "Ширина прессформы"
    Tr_F_21 , "PFLength"
    Tr_F_22 , "Длина прессформы"
    Tr_F_23 , "PFDiameter"
    Tr_F_24 , "Диаметр прессформы"
    Tr_F_25 , "PFCylindric"
    Tr_F_26 , "Цилиндрическая прессформа"
    Tr_F_27 , "PFNumber"
    Tr_F_28 , "Количество прессформ"
    Tr_F_29 , "PFPlaces"
    Tr_F_30 , "Количество мест в прессформе"
    Tr_F_31 , "PFPressureOn100"
    Tr_F_32 , "Давление на одну прессформу на 100-тонном прессе"
    Tr_F_33 , "RubName"
    Tr_F_34 , "Марка резины"
    Tr_F_35 , "VulcanNorma"
    Tr_F_36 , "Норма выработки в смену"
    Tr_F_37 , "CutNorma"
    Tr_F_38 , "Норма обрезки в смену"
    Tr_F_39 , "Vulcan5Class"
    Tr_F_40 , "Прессовщик 5-ого разряда"
    Tr_F_41 , "CostForOrder"
    Tr_F_42 , "Cтоимость 1шт. изделия"
    Tr_F_43 , "CustomerID"
    Tr_F_44 , "Наименование заказчика"
    Tr_F_45 , "CustomerName"
    Tr_F_46 , "Наименование заказчика"
    Tr_F_47 , "Adress"
    Tr_F_48 , "Адресс"
    Tr_F_49 , "Phone"
    Tr_F_50 , "Телефон"
    Tr_F_51 , "DateID"
    Tr_F_52 , "Дата"
    Tr_F_53 , "DateValue"
    Tr_F_54 , "Дата"
    Tr_F_55 , "VulcanCostTariff4"
    Tr_F_56 , "Часовая тарифная ставка прессовщика 4 разряда"
    Tr_F_57 , "VulcanCostTariff5"
    Tr_F_58 , "Часовая тарифная ставка прессовщика 5 разряда"
    Tr_F_59 , "CutCostTariff"
    Tr_F_60 , "Часовая тарифная ставка обрезчика"
    Tr_F_61 , "MachineID"
    Tr_F_62 , "Наименование оборудование"
    Tr_F_63 , "MachineName"
    Tr_F_64 , "Наименование оборудование"
    Tr_F_65 , "Pressure"
    Tr_F_66 , "Давление гидросистемы"
    Tr_F_67 , "Effort"
    Tr_F_68 , "Усилие прессования"
    Tr_F_69 , "Floors"
    Tr_F_70 , "Этажность пресса"
    Tr_F_71 , "FloorHeight"
    Tr_F_72 , "Высота этажа пресса"
    Tr_F_73 , "LoadSides"
    Tr_F_74 , "Число сторон загрузки"
    Tr_F_75 , "PlateWidth"
    Tr_F_76 , "Ширина плиты"
    Tr_F_77 , "PlateLength"
    Tr_F_78 , "Длина плиты"
    Tr_F_79 , "MachineComment"
    Tr_F_80 , "Комментарий"
    Tr_F_81 , "OrderID"
    Tr_F_82 , "Заказ"
    Tr_F_83 , "Amount"
    Tr_F_84 , "Количество"
    Tr_F_85 , "Cost"
    Tr_F_86 , "Цена за 1шт"
    Tr_F_87 , "PressingOrder"
    Tr_F_88 , "Срочный заказ"
    Tr_F_89 , "PersonalID"
    Tr_F_90 , "Сотрудник"
    Tr_F_91 , "LastName"
    Tr_F_92 , "Фамилия"
    Tr_F_93 , "FirstName"
    Tr_F_94 , "Имя"
    Tr_F_95 , "SecondName"
    Tr_F_96 , "Отчество"
    Tr_F_97 , "Office"
    Tr_F_98 , "Должность"
    Tr_F_99 , "Discharged"
    Tr_F_100, "Уволен"
    Tr_F_101, "ProgramID"
    Tr_F_102, "Производственная программа"
    Tr_F_103, "CorrectionDate"
    Tr_F_104, "Дата последнего изменения"
    Tr_F_105, "RawMaterialID"
    Tr_F_106, "Наименование сырья или основного материала"
    Tr_F_107, "RawMaterialName"
    Tr_F_108, "Наименование сырья или основного материала"
    Tr_F_109, "RawMaterialCostID"
    Tr_F_110, "Расценка"
    Tr_F_111, "RawMaterialCostValue"
    Tr_F_112, "Расценка"
    Tr_F_113, "RawMaterialInProductID"
    Tr_F_114, "Сырье или основной материал"
    Tr_F_115, "RMWeight"
    Tr_F_116, "Вес"
    Tr_F_117, "ByDateValue"
    Tr_F_118, "Дата"
    Tr_F_119, "PlaneID"
    Tr_F_120, "Сменно-суточное задание"
    Tr_F_121, "AmtDone"
    Tr_F_122, "Фактичеческое выполнение"
}

